/*reset*/
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing: 0;
	padding: 0;
	font-size: 1em;
}

body{
	font-family: Roboto, sans-serif;
	line-height: 1.4;
}

header {

}

.topo{
	border: 1px solid black;
	width: 100%;
	height: 30px;
}

.menu{
	border: 1px solid black;
	width: 100%;
	height: 150px;
}

/*logo*/
.container-logo{
	float: left;
	display: inline-block; 
	border: 1px dashed black;
	width: 30%;	
	

}

.logo-principal{
	width: 100%;
	position: relative;
	display: inline-block;
}

.menu-principal li{
	display: inline-block;
	padding: 10px;
	font-size: 1.5em; 
}

.menu-principal{
	float: left;
	border: 1px solid black;
	margin-top: 30px;
	display: inline-block;

}

.banner-principal{
	border: 1px solid black;
	width: 100%;
	height: 350px;
}

.secao-clientes{
	border: 1px solid black;
	width: 100%;
	height: 300px;
}

.mapa{
	border: 1px solid black;
	width: 100%;
	height: 350px;

	}
.contato{
	border: 1px solid black;
	width: 100%;
	height: 250px;
}

.rodape{
	border: 1px solid black;
	width: 100%;
	height: 100px;
}